// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,*::after,*::before{
  box-sizing:inherit;
  margin: 0;
  padding: 0;

}

html{
  
   // This defines what 1rem is
   font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

   @include respond(tland) { // width < 1200?
       font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
   }

   @include respond(tport) { // width < 900?
       font-size: 50%; //1 rem = 8px, 8/16 = 50%
   }
   
   @include respond(bigdesktop) {
       font-size: 75%; //1rem = 12, 12/16
   }
}
body{

  box-sizing: border-box;
  font-size: 2rem;

}

::selection {
  //background-color: $color-primary;
  //color: $color-white;
}

