// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $grid-width !important;
    margin: 0 auto;
  padding-left: 2rem; /* 3 */
  padding-right: 2rem; /* 3 */
  width: 100%; /* 1 */
 }

 .center-text { text-align: center !important; }
 //margins-->bottom
 
 .mb-5{margin-bottom: 32rem !important;}
 .mb-4{margin-bottom: 16rem !important;}
 .mb-3{margin-bottom: 8rem !important;}
 .mb-2{margin-bottom: 4rem !important;}
 .mb-1{margin-bottom: 2rem !important;}
 //----->top

 .mt-5{margin-top: 32rem !important;}
 .mt-4{margin-top: 16rem !important;}
 .mt-3{margin-top: 8rem !important;}
 .mt-2{margin-top: 4rem !important;}
 .mt-1{margin-top: 2rem !important;}





